@import "~font-awesome/css/font-awesome.css";

* {
  --background: #DDDEDD;
  --primary: #039be5;
  --p-light: #63ccff;
  --p-dark: #006db3;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
